<header class="site-head">
            {{#if @blog.logo}}<a  href="{{@blog.url}}"><img class="blog-logo" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
	<h6>
		Webdeveloper<br>
		Meteorite<br>
		MongoDB lover<br>
		CS Student 
	</h6>
		
		<a class="social-link link-facebook" href="https://www.facebook.com/tobias.holz.942" target="_blank">Facebook</a>
	
	<a class="social-link link-twitter" href="http://www.twitter.com/tobho" target="_blank">Twitter</a>
	<a class="social-link link-google" target="_blank" href="https://plus.google.com/u/0/106906274509049525727/posts">Google+</a>
	<a class="impressum" href="/impressum">Impressum</a>
</header>